.brown { background-color: #625141; opacity: 0.8;}
.deep-green { background-color: #2e3d14; opacity: 0.6;}
.drk-grn { background-color: #455612; opacity: 0.55;}
.olive { background-color: #4d5a15; opacity: 0.5;}
.brawn { background-color: #4b3b24; opacity: 0.8;}
.brnish { background-color: #a8a474; opacity: 0.6;}
.bars { color: #65656d; opacity: 0.9;}
.ora { background-color: #d2bb6d; opacity: 0.6;}
.lter-gray { background-color: #d5d5d5; opacity: 0.85;}
.bg1 { background-color: #bac1ba}
.brt-green { background-color: #2d5608; opacity: 0.5;}
.grn { background-color: #4d6044; opacity: 0.8;}
.medgray { background-color: #999e98; opacity: 0.7;}
.ltgray { background-color: #a19fa2;opacity: 0.5;}
.drkgray { background-color: #8e8a8b;opacity: 0.5;}
.whitish { background-color: #9997a4;opacity: 0.7;}
.pnk { background-color: #c58095; opacity: 0.7;}
.blu { background-color: #6d8db3; opacity: 0.6;}
.breen { background-color: #715c2d; opacity: 0.6;}
.brain { background-color: #665424; opacity: 0.6;}
.jay-z-blue { background-color: #404652; opacity: 0.6;}
.loud-gray { background-color: #a9a19f; opacity: 0.6;}
.blum { background-color: #9395ac; opacity: 0.6;}
.gron { background-color: #5f6100; opacity: 0.6;}
.pank { background-color: #ccbfc8; opacity: 0.6;}
.watish { background-color: #b9afae; opacity: 0.6;}
.orang { background-color: #eccbba; opacity: 0.6;}

/*text colorssss*/
.tru-blu { color: #7182a0;
text-shadow:
   -1px -1px 0 #bdb6c8,
    1px -1px 0 #bdb6c8,
    -1px 1px 0 #bdb6c8,
     1px 1px 0 #bdb6c8;}
.blkish { color: #190d1b;
text-shadow:
   -1px -1px 0 #a0a89b,
    1px -1px 0 #a0a89b,
    -1px 1px 0 #a0a89b,
     1px 1px 0 #a0a89b;}
.greenish { color: #073518;
text-shadow:
   -1px -1px 0 #494d01,
    1px -1px 0 #494d01,
    -1px 1px 0 #494d01,
     1px 1px 0 #494d01;}
.pinkish { color: #d7c6ac}

.scoffz {
  color: #87677e;
text-shadow:
   -1px -1px 0 #b38b58,
    1px -1px 0 #b38b58,
    -1px 1px 0 #b38b58,
     1px 1px 0 #b38b58;}

/*STARZ*/
.red { color: #77322b}
.yella { color: #dccbb1; opacity: 0.8;}




.panel { background-color: #807f7a}

.golden { background-color: #625119;  opacity: 0.8;}

.pissed { background-color: #7c641c;  opacity: 0.8;}

.derp { background-color: #a8997c; opacity: 0.8;}



.color1 { background-color: #a99975}

.color2 { background-color: #8a7a59}

.color3 { background-color: #715f39}

.color7 { background-color: #978b71}

.color8 { background-color: #a99a7b}

.color9 { background-color: #94825e}

.color10 { background-color: #6f5637}


.color12 { background-color: #5a4824}

.color15 { background-color: #a49c89}

.color17 { background-color: #613c12}

.color19 { background-color: #857c5f}

.color20 { background-color: #584121}

.color21 { background-color: #362b19}

.color22 { background-color: #a7977d}

.color26 { background-color: #2a391a}

.color27 { background-color: #c3b298}

.color28 { background-color: #77674d}

.color30 { background-color: #b2a187}

.color31 { background-color: #ac9c83}

.color33 { background-color: #ba9970}

.color34 { background-color: #786254}


.color36 { background-color: #8f7f65}

.color37 { background-color: #968470}

.color38 { background-color: #b38b58}


.color41 { background-color: #a5957c}

.color42 { background-color: #807057}

.color43 { background-color: #4a422f}

.color44 { background-color: #898375}

.color45 { background-color: #b1a28d}

.color46 { background-color: #1c1a1f}

.sigmund { background-color: #98939a}

.color48 { background-color: #a29278}

.color49 { background-color: #93876d}

.colour1 { background-color: #777963}

.colour3 { background-color: #5d5c48}

.colour5 { background-color: #585449}

.passion { background-color: #802534}

.colour8 { background-color: #787e74}

.colour9 { background-color: #76786a}

.colour10 { background-color: #a3948f}

.colour12 { background-color: #494d01}

.colour14 { background-color: #272b37}

.colour15 { background-color: #9c9b99}


.colour19 { background-color: #a0a89b}

.colour20 { background-color: #454a33}

.colour22 { background-color: #a1969a}

.colour25 { background-color: #3e3f00}

.colour26 { background-color: #122921}

.colour28 { background-color: #12210e}

.colour33 { background-color: #ad9287}

.colour34 { background-color: #6b705c}

.colour35 { background-color: #7b718c}


.colour38 { background-color: #a58683}

.colour41 { background-color: #9d9195}

.colour42 { background-color: #a2a395}

.pasta { color: #404443}

.colour44 { background-color: #bdb6c8}

.colour45 { background-color: #888f97}

.colour48 { background-color: #96968e}

.colour49 { background-color: #9c9c9a}



/*{

}*/

.item {
  position: absolute;
}

.siggy:hover {
  background-color: #802534;
}

.bottom-left {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.bottom-right {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.big-green-circle {
  top: 125px;
  left: 65px;
}

.lil-gray-circle {
  top: -25px;
  left: -75px;
}


.lil-grey-circle {
  top: 55px;
  left: 30px;
}

.big-brown-circle {
  left: 85px;
  top: -300px;
}

.big-white-circle {
  top: 50px;
  left: 250px;
}

.med-brn-circle {
  top: 100px;
  left: 250px;
}

.sm-white-circle {
  top: 100px;
  left: 295px;
}

.sm-brn-circle {
  top: 25px;
  left: 275px;
}

.sm-ora-circle {
  top:700px;
  left:240px;
}

.sm-blu-circle {
  top:650px;
  left:300px;
}

.sm-pnk-circle {
  top:540px;
  left:375px;
}

.sm-grn-circle {
  top: 470px;
  left: 325px;
}

.left-text {
  top: 75px;
  left: 13px;
}

.mid-left-text {
  top: 50px;
  left: 200px;
}

.boring {
  top: 50px;
  left: 966px;
  /*border: 1px solid black;*/
  width: 500px;
  height: 150px;
  padding: 25px;
}

.artbanner {
  top: 425px;
  font-weight: bold;
  left: 1000px;
}

.bubble {
  top: 450px;
  left: 966px;
  /*border: 1px solid black;*/
  background-color: white;
  width: 500px;
  height: 300px;
  padding: 50px;
  /*overflow: scroll;*/
  /*overflow-x: none;*/
}
.rotate {

/* Safari */
-webkit-transform: rotate(-90deg);

/* Firefox */
-moz-transform: rotate(-90deg);

/* IE */
-ms-transform: rotate(-90deg);

/* Opera */
-o-transform: rotate(-90deg);

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}

.mid-right-text {
  top: 125px;
  left: 385px;
}

.right-text {
  top: 95px;
  left: 725px;
  font-size: 27px !important;
}
.center {
  text-align: center;
}


.tower {
  left: 120px;
  top: 50px;
  font-size: 100px;
  font-weight: bold;
  /*color: red;*/
}

.blink {
  animation: blink 1s steps(5, start) infinite;
  -webkit-animation: blink 1s steps(5, start) infinite;
}
.blink-two {
  animation: blink 1.1s steps(5, start) infinite;
  -webkit-animation: blink 1.1s steps(5, start) infinite;
}
@keyframes blink {
  to { visibility: hidden; }
}
@-webkit-keyframes blink {
  to { visibility: hidden; }
}



.fade {
 opacity: 0;
 transition: opacity 5s ease-in-out;
 -moz-transition: opacity 5s ease-in-out;
 -webkit-transition: opacity 5s ease-in-out;
 }







.circle {
  border-radius: 100%;
  /*border: 1px solid black;*/
}

.circle-large {
  width: 500px;
  height: 500px;
  /*background-color:;*/
}

.circle-lrg {
  width: 400px;
  height: 400px;
}

.circle-medee {
  width: 250px;
  height: 250px;
}

.circle-sm {
  width: 200px;
  height: 200px;
}

.circle-med {
  width: 300px;
  height: 300px;
}




.window-frame {
  font-size: 450px;
  left: 120px;
  top: -100px;
  color: ;
}

.window-skyline {
  width: 550px;
  height: 300px;
}

.window-top {
  color: ;
  top: -75px;
  left: 250px;
  font-size: 225px;
  max-height: 100px;
  font-style: italic;
  font-stretch: ultra-expanded;
  /*display:inline-block;*/
    transform:scale(10,1); /* W3C */
  text-shadow: -2px -3px 0px rgba(100, 100, 100, .75), -4px -6px 0px rgba(150, 150, 150, .65),-6px -9px 0px rgba(200, 200, 200, .5),-8px -12px 0px rgba(200, 200, 200, .5),-10px -15px 0px rgba(200, 200, 200, .5),-12px -18px 0px rgba(200, 200, 200, .5),-14px -21px 0px rgba(200, 200, 200, .5),-16px -24px 0px rgba(200, 200, 200, .5);
}

.window-cracks {

}

.window {
  top: 700px;
  margin-bottom:0;
  width: 500px;
  word-wrap: break-word;
}

.signature {
  border: 1px solid black;
  top: 750px;
  left: 600px;
  width: 250px;
  height: 125px;
  font-style: italic;
  font-size: 25px;
  padding: 15px;
}

.signature-top-right {
  text-align: right;
  margin-bottom: 15px;
}

.signature-multi {
  font-weight: bold;
}

.signature-middle {
  text-align: right;
}

.signature-bot-right {
  text-align: right;
}

.signature-name {
  text-align: center;
  font-size: 15px ;
  margin-top: 15px;
}


.white-star {
  font-size: 180px;
  color: white;
  left: 375px;
  top: -25px;
}

.red-star {
  font-size: 350px;
  left: 530px;
  top: -70px;
  margin: 0;
  padding: 0;
}

.text {
  font-size: 33px;
}