.color1 { color: #a99975}
.color2 { color: #8a7a59}
.color3 { color: #715f39}
.color4 { color: #715c2d}
.color5 { color: #665424}
.color6 { color: #77322b}
.color7 { color: #978b71}
.color8 { color: #a99a7b}
.color9 { color: #94825e}
.color10 { color: #6f5637}
.color11 { color: #7c641c}
.color12 { color: #5a4824}
.color13 { color: #d7c6ac}
.brown { background-color: #625141}
.color15 { color: #a49c89}
.deep-green { color: #2e3d14}
.color17 { color: #613c12}
.color18 { color: #dccbb1}
.color19 { color: #857c5f}
.color20 { color: #584121}
.color21 { color: #362b19}
.color22 { color: #a7977d}
.drk-grn { background-color: #455612; opacity: 0.55;}
.olive { background-color: #4d5a15; opacity: 0.5;}
.color25 { color: #4b3b24}
.color26 { color: #2a391a}
.color27 { color: #c3b298}
.color28 { color: #77674d}
.color29 { color: #404652}
.color30 { color: #b2a187}
.color31 { color: #ac9c83}
.color32 { color: #a8a474}
.color33 { color: #ba9970}
.color34 { color: #786254}
.color35 { color: #a8997c}
.color36 { color: #8f7f65}
.color37 { color: #968470}
.color38 { color: #b38b58}
.bars { color: #65656d}
.color40 { color: #87677e}
.color41 { color: #a5957c}
.color42 { color: #807057}
.color43 { color: #4a422f}
.color44 { color: #898375}
.color45 { color: #b1a28d}
.color46 { color: #1c1a1f}
.color47 { color: #98939a}
.color48 { color: #a29278}
.color49 { color: #93876d}
.colour1 { color: #777963}
.colour2 { color: #a9a19f}
.colour3 { color: #5d5c48}
.colour4 { color: #d2bb6d}
.colour5 { color: #585449}
.colour6 { color: #802534}
.colour7 { color: #9395ac}
.colour8 { color: #787e74}
.colour9 { color: #76786a}
.colour10 { color: #a3948f}
.colour11 { color: #5f6100}
.colour12 { color: #494d01}
.colour13 { color: #d5d5d5}
.colour14 { color: #272b37}
.colour15 { color: #9c9b99}
.colour16 { color: #073518}
.colour17 { color: #625119}
.colour18 { color: #ccbfc8}
.colour19 { color: #a0a89b}
.colour20 { color: #454a33}
.bg1 { background-color: #bac1ba}
.colour22 { color: #a1969a}
.brt-green { background-color: #2d5608}
.colour24 { color: #4d6044}
.colour25 { color: #3e3f00}
.colour26 { color: #122921}
.colour27 { color: #b9afae}
.colour28 { color: #12210e}
.medgray { background-color: #999e98}
.ltgray { background-color: #a19fa2;opacity: 0.5;}
.drkgray { background-color: #8e8a8b;opacity: 0.5;}
.colour32 { color: #eccbba}
.colour33 { color: #ad9287}
.colour34 { color: #6b705c}
.colour35 { color: #7b718c}
.colour36 { color: #807f7a}
.colour37 { color: #9997a4}
.colour38 { color: #a58683}
.colour39 { color: #7182a0}
.colour40 { color: #c58095}
.colour41 { color: #9d9195}
.colour42 { color: #a2a395}
.colour43 { color: #404443}
.colour44 { color: #bdb6c8}
.colour45 { color: #888f97}
.colour46 { color: #190d1b}
.colour47 { color: #6d8db3}
.colour48 { color: #96968e}
.colour49 { color: #9c9c9a}