
/*{

}*/

.item {
  position: absolute;
}


.bottom-left {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.bottom-right {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.big-green-circle {
  top: 125px;
  left: 65px;
}

.lil-gray-circle {
  top: -25px;
  left: -75px;
}


.lil-grey-circle {
  top: 55px;
  left: 30px;
}

.big-brown-circle {
  left: 85px;
  top: -300px;
}

.big-white-circle {
  top: 50px;
  left: 250px;
}

.med-brn-circle {
  top: 100px;
  left: 250px;
}

.sm-white-circle {
  top: 100px;
  left: 295px;
}

.sm-brn-circle {
  top: 25px;
  left: 275px;
}

.sm-ora-circle {
  top:700px;
  left:240px;
}

.sm-blu-circle {
  top:650px;
  left:300px;
}

.sm-pnk-circle {
  top:540px;
  left:375px;
}

.sm-grn-circle {
  top: 470px;
  left: 325px;
}

.left-text {
  top: 75px;
  left: 13px;
}

.mid-left-text {
  top: 50px;
  left: 200px;
}

.boring {
  top: 50px;
  left: 966px;
  /*border: 1px solid black;*/
  width: 500px;
  height: 900px;
  padding: 25px;
}
.rotate {

/* Safari */
-webkit-transform: rotate(-90deg);

/* Firefox */
-moz-transform: rotate(-90deg);

/* IE */
-ms-transform: rotate(-90deg);

/* Opera */
-o-transform: rotate(-90deg);

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}

.mid-right-text {
  top: 125px;
  left: 385px;
}

.right-text {
  top: 95px;
  left: 725px;
  font-size: 27px !important;
}