.center {
  text-align: center;
}


.tower {
  left: 100px;
  top: 250px;
  font-size: 100px;
  font-weight: bold;
  /*color: red;*/
}






.window-frame {
  font-size: 450px;
  left: 150px;
  top: -100px;
  color: ;
}

.window-skyline {
  width: 550px;
  height: 300px;
}

.window-top {
  color: ;
  top: -75px;
  left: 250px;
  font-size: 225px;
  max-height: 100px;
  font-style: italic;
  font-stretch: ultra-expanded;
  /*display:inline-block;*/
    transform:scale(10,1); /* W3C */
  text-shadow: -2px -3px 0px rgba(100, 100, 100, .75), -4px -6px 0px rgba(150, 150, 150, .65),-6px -9px 0px rgba(200, 200, 200, .5),-8px -12px 0px rgba(200, 200, 200, .5),-10px -15px 0px rgba(200, 200, 200, .5),-12px -18px 0px rgba(200, 200, 200, .5),-14px -21px 0px rgba(200, 200, 200, .5),-16px -24px 0px rgba(200, 200, 200, .5);
}



.window {
  top: 1000px;
  margin-bottom:0;
}

.signature {
  border: 1px solid black;
  top: 1050px;
  left: 750px;
  width: 300px;
  height: 125px;
  font-style: italic;
  font-size: 25px;
  padding: 15px;
}

.signature-top-right {
  text-align: right;
  margin-bottom: 15px;
}

.signature-multi {
  font-weight: bold;
}

.signature-middle {
  text-align: right;
}

.signature-bot-right {
  text-align: right;
}

.signature-name {
  text-align: center;
  font-size: 15px ;
  margin-top: 15px;
}

